@using GymLog.Data.Enum
@using GymLog.ViewModels
@model IEnumerable<ExerciseVM>


<h3>Exercises:</h3>
<ul>
    @foreach (var exercise in Model)
    {
        <li>
            <button type="submit" formaction="/Template/Create?exerciseId=@exercise.Id" class="btn btn-dark">
                <img src="@exercise.ImageSrc" alt="@exercise.Name" width="350">
            </button>
        </li>
    }
</ul>
