@model IEnumerable<Workout>
<h1>Calendar</h1>





@section scripts {
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>

    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                events: [
        @foreach (var workout in Model)
        {
            
            <text>
                        {
                            title: '@workout.Name',
                            start: '@workout.StartDate.ToString("yyyy-MM-ddTHH:mm:ss")',
                            end: '@workout.EndDate.ToString("yyyy-MM-ddTHH:mm:ss")',
                            id: '@workout.Id'
                        },
            </text>
        }
                            ],
                eventClick: function (calEvent, jsEvent, view) {
                    window.location.href = 'Edit/' + calEvent.id;
                },
                eventMouseover: function (calEvent, jsEvent, view) {
                    $(this).css('background-color', 'black');
                },
                eventMouseout: function (calEvent, jsEvent, view) {
                    $(this).css('background-color', '');
                }
            });
        });
    </script>

}
<div id='calendar'></div>

