@using GymLog.ViewModels
@model WorkoutVM

<div style="text-align:center">
    <h2>Just Do It!</h2>
</div>
<form method="post" asp-action="Create" enctype="multipart/form-data" id="workoutForm">

    <input asp-for="StartDate" type="hidden" class="form-control">
    <partial name="_WorkoutCU" />

    <button type="button" id="submitButton" class="btn btn-outline-success">Submit</button>

</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("submitButton").addEventListener("click", function (event) {
            const form = document.getElementById("workoutForm");

            
                var allChecked = areAllChecked();
                if (!allChecked) {
                    var userConfirmed = confirm("Not all exercises are done. Do you want to continue?");
                    if (userConfirmed) {
                        form.action = "/Workout/CreatePost";
                        form.submit();
                    }
                }
                else{
                    form.action = "/Workout/CreatePost";
                    form.submit();
                }
            
        });

        function areAllChecked() {
            var isDoneCheckboxes = document.querySelectorAll(".my-checkbox-x2");
            var uncheckedCheckboxes = Array.from(isDoneCheckboxes).filter(function (checkbox) {
            return !checkbox.checked;
        });
        return uncheckedCheckboxes.length === 0;
        }
    });
</script>



<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0,scrollpos);
    });

    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
</script>