@using GymLog.ViewModels
@model TemplateVM


<h1>Edit Workout</h1>
<form method="post" asp-action="Edit" enctype="multipart/form-data">

    <partial name="_TemplateCU" />
    </br>
    <button type="submit" formaction="/Template/EditPost" class="btn btn-primary">Submit</button>
</form>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0,scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };

    </script>