@model IEnumerable<Workout>


	<a asp-controller="Template" asp-action="Create" class="btn btn-sm btn-outline-info ">Create new Set Collection</a>
	@foreach(var Item in Model)
	{
	@if (Item.Template != null)
	{
		<h4>@Item.Id - @Item.Template.Name</h4>
	}


		<a  asp-controller="Template" asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Edit</a>
		<a asp-controller="Template" method="post" asp-action="Delete" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Delete</a>

	}