@model IEnumerable<Workout>


	
	<h2>Your Templates:</h2>
<table>
	@foreach(var Item in Model)
	{

		@if (Item.Template != null)
		{
			<tr class="noBorder">
				<td>
					@Item.Id - @Item.Template.Name
				</td>
				<td>
					<a asp-controller="Workout" asp-action="Execute" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Execute</a>
				</td>
			</tr>
		}
	}
</table>
<a id="marginedButton" asp-controller="Workout" asp-action="Create" class="btn btn-sm btn-outline-info ">New Workout</a>