@using GymLog.ViewModels
@model MaxWeightVM



<ul>
    <li>Name: @Model.Name</li>
    <li>Weight: @Model.Weight</li>
</ul>



<div id="partialViewContainer">
    <!-- Tutaj zostanie wyświetlony częściowy widok -->
</div>

<button id="maxWeightButton" data-id="123">Przeładuj część strony</button>



