@using GymLog.Data.Enum
@using GymLog.ViewModels
@model Excercise

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="WeightType">Weight Type</label>
        <select asp-for="WeightType" asp-items="@Html.GetEnumSelectList<WeightType>()">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="WeightType" class="text-danger"></span>
    </div>
    <div class="form-group">
        @{
            List<BodyPartVM> bodyParts = ViewBag.BodyParts;
                foreach(var bodyPart in bodyParts)
                {
                <input type="checkbox" name="selectedCourse" value="@bodyPart.Id" />
                <p>@bodyPart.Name</p>
            }
        }
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>