@using GymLog.Data.Enum
@using GymLog.ViewModels
@model FindExcerciseVM
<script src="~/js/site.js"></script>


@foreach(var item in Model.SearchedExcercisesVM){
    <p>@item.Name</p>
}


<button id="myButton">Kliknij mnie</button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form asp-controller="Excercise" asp-action="FindExcercise">
            <p>
                <div class="form-group">
                    <label asp-for="SearchString">Search for excercise</label>
                    <input asp-for="SearchString" class="form-control" placeholder="SearchString">
                    <span asp-validation-for="SearchString" class="text-danger"></span>
                </div>
                <button type="submit" formaction="/Excercise/FindExcercise" class="btn btn-outline-primary">Find</button>
            </p>
        </form>


        @foreach(var item in Model.SearchedExcercisesVM){
    <p>@item.Name</p>
}



    </div>
</div>