@using GymLog.Data.Enum
@using GymLog.ViewModels
@model IEnumerable<Excercise>


	<a asp-controller="Excercise" asp-action="Create" class="btn btn-sm btn-outline-info ">Create new Excercise</a>
	@foreach(var Item in Model)
	{
		<h4>@Item.Id - @Item.Name</h4>
	<a  asp-controller="Excercise" asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Edit</a>
	<a asp-controller="Excercise" asp-action="Delete" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Delete</a>

	}