@using GymLog.ViewModels
@model TemplateSegmentVM



<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <partial name="_TemplateSegmentCU" />
    </br>
    </br>
    <button type="submit" formaction="/TemplateSegment/EditPost" class="btn btn-primary">Submit</button>
</form>