@using GymLog.ViewModels
@model             GymLog.ViewModels.TemplateSegment



<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <partial name="_TemplateSegmentCU" />
    </br>
    </br>
    <button type="submit" formaction="/TemplateSegment/Edit" class="btn btn-primary">Submit</button>
</form>