@using GymLog.ViewModels
@model TemplateVM
<h2>Create Workout Template</h2>

<form method="post" asp-action="Create" enctype="multipart/form-data">

    <partial name="_TemplateCU"/>
    </br>
    <button type="submit" formaction="/Template/CreateTemplate" class="btn btn-primary">Submit</button>
</form>