@using GymLog.ViewModels
@model TemplateVM


<div style="text-align:center">
    <h2>Create Workout Template</h2></br>
</div>

<form id="templateForm" method="post" asp-action="Create" enctype="multipart/form-data">
    <partial name="_TemplateCU" />
    <button type="submit" formaction="/Template/CreatePost" class="btn btn-outline-success">Submit</button>
</form>
