@using GymLog.ViewModels
@model TemplateVM

<div class="container1">
<div class="center-div">
<div>
       
    <h2>Create Workout Template</h2></br>
</div>

<form id="myForm" method="post" asp-action="Create" enctype="multipart/form-data">
    <partial name="_TemplateCU" />
    <button type="submit" formaction="/Template/CreatePost" class="btn btn-primary">Submit</button>

</form>
</div>
</div>
