@model IEnumerable<Template>


	<a asp-controller="Template" asp-action="Create" class="btn btn-sm btn-outline-info ">Create new Set Collection</a>
	@foreach(var Item in Model)
	{

		<h4>@Item.Id - @Item.Name</h4>


		<a  asp-controller="Template" asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Edit</a>
		<a asp-controller="Template" method="post" asp-action="DeleteExcerciseSet" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Delete</a>

	}