@using GymLog.Data.Enum
@using GymLog.ViewModels
@model ExcerciseVM

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <div class="form-group">
        @{


            @for (int i= 0; i< Model.BodyPartsVM.Count; i++)
            {
                
                @Html.CheckBoxFor(m => m.BodyPartsVM[i].IsChecked)
                <label>@Model.BodyPartsVM[i].Name</label>
                @Html.HiddenFor(m => m.BodyPartsVM[i].Id)
                @Html.HiddenFor(m => m.BodyPartsVM[i].Name)
                <br />
            }
           
        }
        </div>

        <button type="submit" formaction="CreatePost" class="btn btn-primary">Create</button>
    </form>