@using GymLog.ViewModels
@model WorkoutsAndTemplatesVM




<div class="container-main">

	
	<div class="container-70">

	@await Component.InvokeAsync("Statistics")


	@await Component.InvokeAsync("ExerciseProgress")
	@await Component.InvokeAsync("FavouriteExercisesChart")
	@await Component.InvokeAsync("MostWeightExercisesChart")

	</div>

	<div class="container-30">
		<div>
			@if (Model.UserTemplatesVM != null)
			{
				<h2>Your Templates:</h2>

				<table>
					@foreach (var Item in Model.UserTemplatesVM)
					{

						@if (Item != null)
						{
							<tr class="noBorder">
								<td>
									@Item.Name
								</td>
								<td>
									<a asp-controller="Workout" asp-action="Execute" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Execute</a>
								</td>
							</tr>
						}
					}
				</table>
				<a id="marginedButton" asp-controller="Template" asp-action="Create" class="btn btn-sm btn-outline-info ">New Template</a>

			}
		</div>
		<div>
			<h2>Sample Templates:</h2>
			@if (Model.SampleTemplatesVM != null)
			{
				<table>
					@foreach (var Item in Model.SampleTemplatesVM)
					{

						@if (Item != null)
						{
							<tr class="noBorder">
								<td>
									@Item.Name
								</td>
								<td>
									<a asp-controller="Workout" asp-action="Execute" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Execute</a>
								</td>
							</tr>
						}
					}
				</table>
			}
			<a id="marginedButton" asp-controller="Workout" asp-action="Create" class="btn btn-sm btn-outline-info ">New Workout</a>

		</div>
	</div>
	</div>
@*
@await Component.InvokeAsync("MaxWeight")
*@

