@using GymLog.ViewModels
@model WorkoutSegmentVM




<form method="post" asp-action="Create" enctype="multipart/form-data">
    <partial name="_WorkoutSegmentCU" />
    </br>
    </br>
    <button type="submit" formaction="/WorkoutSegment/CreatePost" class="btn btn-primary">Submit</button>
</form>