@using GymLog.Data.Enum
@using GymLog.ViewModels
@model FindExerciseVM
<script src="~/js/site.js"></script>

<form asp-controller="Exercise" asp-action="FindExercise">
    <p>
        <div class="form-group">
            <label asp-for="SearchString">Find Exercise</label>
            <input asp-for="SearchString" class="form-control" placeholder="SearchString">
            <span asp-validation-for="SearchString" class="text-danger"></span>
        </div>
        <button type="submit" formaction="/Exercise/FindExercise" class="btn btn-outline-primary">Find</button>
    </p>
</form>

@foreach(var item in Model.SearchedExercisesVM){
    <p>@item.Name</p>
}
