@using GymLog.Data.Enum
@using GymLog.ViewModels
@model ChartDataProgressVM

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-filler"></script>

<div style="min-height:200px;">
    <canvas id="exerciseProgressChart"></canvas>
</div>
<script>
    var viewModelData = @Html.Raw(Json.Serialize(Model));

    var ctx = document.getElementById('exerciseProgressChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: viewModelData.labels,
            datasets: [{
                label: 'Exercise Progress',
                data: viewModelData.values,
                borderColor: 'blue',
                backgroundColor: 'rgba(0, 0, 255, 0.2)',
                fill: 'origin',
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 2,
            plugins: {
                filler: {
                    propagate: true
                }
            },
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Weight'
                    }
                }
            }
        }
    });
</script>

