@using GymLog.ViewModels
@model             GymLog.ViewModels.TemplateSegment

<div id="segment">
<input asp-for="Id" type="hidden" class="form-control">
<input asp-for="ActionName" type="hidden" class="form-control">

<div class="form-group">
    <label asp-for="ExcerciseId">Excercise</label>
    <select class="form-select-sm" asp-for="ExcerciseId"
            asp-items="new SelectList(@Model.ExcercisesConcatVM, nameof(CreateExcerciseConcatVM.Id),
                   nameof(CreateExcerciseConcatVM.Name))">
        <option>Please Select</option>
    </select>
    <span asp-validation-for="Excercise" class="text-danger"></span>
</div>
@*<div class="form-group">
    <label asp-for="Order">Order</label>
    <input asp-for="Order" class="form-control" placeholder="Order">
    <span asp-validation-for="Order" class="text-danger"></span>
</div>*@
<div class="form-group">
    <label asp-for="Description">Description</label>
    <input asp-for="Description" class="form-control" placeholder="Description">
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TemplateId">TemplateId</label>
    <input asp-for="TemplateId" class="form-control" placeholder="TemplateId">
    <span asp-validation-for="TemplateId" class="text-danger"></span>
</div>
<input asp-for="ActionName" type="hidden" class="form-control">


@{
    if (Model.ExcercisesConcatVM != null)
    {
        @for (int i = 0; i < Model.ExcercisesConcatVM.Count; i++)
        {
            <input asp-for="ExcercisesConcatVM[i].Id" type="hidden" class="form-control" placeholder="ExcercisesConcatVM[i].Id">
            <input asp-for="ExcercisesConcatVM[i].Name" type="hidden" class="form-control" placeholder="ExcercisesConcatVM[i].Name">

        }

    }

}
<partial name="_Sets" />

<button type="submit" formaction="/TemplateSegment/AddSet" class="btn btn-outline-primary">AddSet</button>
<button type="submit" formaction="/TemplateSegment/RemoveSet" class="btn btn-outline-danger">RemoveSet</button>
</div>