@using GymLog.ViewModels
@model             GymLog.ViewModels.TemplateSegment

<div class="form-group">
    @{
        if (Model.SetsVM != null)
        {
            <table>
                <tr>
                    <th width="7%">Set</th>
                    <th>Weight</th>
                    <th>Reps</th>
                </tr>
                @for (int i = 0; i < Model.SetsVM.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>
                            <div class="form-group">
                                <input asp-for="SetsVM[i].Weight" class="form-control" placeholder="Weight">
                                <span asp-validation-for="SetsVM[i].Weight" class="text-danger"></span>
                            </div>
                        </td>


                        <td>
                            <div class="form-group">
                                <input asp-for="SetsVM[i].Reps" class="form-control" placeholder="Reps">
                                <span asp-validation-for="SetsVM[i].Reps" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <input asp-for="SetsVM[i].Id" type="hidden" class="form-control">
                }
            </table>
        }

    }
</div>