@model IEnumerable<BodyPart>


	<a asp-controller="BodyPart" asp-action="Create" class="btn btn-sm btn-outline-info" style="margin-bottom:10px;">Create new Body Part</a>
    <table>
        <tr>
            <th width="5%">Id</th>
            <th>Name</th>
      </tr>
    @foreach (var Item in @Model)
    {
        <tr>
            <td>
                @Item.Id
            </td>
            <td>
                @Item.Name
            </td>
            <td id="tableButtons">
                <a asp-controller="BodyPart" asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Edit</a>
            </td>
            <td id="tableButtons">
                <a asp-controller="BodyPart" asp-action="Delete" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Delete</a>
            </td>
        </tr>
    }
    </table>
